<!DOCTYPE html>

<html>
  <head>
    <title>Bughouse!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/board_style.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/raphael-min.js"></script>
    <script type="text/javascript" src="/javascripts/ChessValidator.js"></script>
    <script type="text/javascript" src="/javascripts/game_client.js"></script>
  </head>
  <body>
    <div id="boards">
      <div class="board_div">
        <div id="timer0_B" class="timer timer0"></div>
        <div id="name0_B" class="name name0"><input id="sit0_B" class="sit_button" type="button" value="Sit!"></div>
        <div id="board0" class="board"></div>
        <div id="timer0_W" class="timer timer0"></div>
        <div id="name0_W" class="name name0"><input id="sit0_W" class="sit_button" type="button" value="Sit!"></div>
      </div>
      <div class="board_div right_board">
        <div id="name1_W" class="name name1"><input id="sit1_W" class="sit_button" type="button" value="Sit!"></div>
        <div id="timer1_W" class="timer timer1"></div>
        <div id="board1" class="board"></div>
        <div id="name1_B" class="name name1"><input id="sit1_B" class="sit_button" type="button" value="Sit!"></div>
        <div id="timer1_B" class="timer timer1"></div>
      </div>
    </div>
  </body>
</html>
