extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/raphael-min.js')
  script(src='/javascripts/ChessEngine.js')
  script(src='/javascripts/game-client.js')
  script(src='/javascripts/clipboard.min.js')

block content
  p Share this game with your friends and start playing!
  input#copy-link(type='button' value='Share Link')
  input#rotate(type='button' value='Rotate Boards')
  h4#link-notification
  div#boards
    div.board-div
      div#timer0_B.timer.timer0
      div#game-status0_B.game-status
      div#name0_B.name.name0
        input#sit0_B.sit_button(type='button' value='Sit here!')
      div#board0.board
      div#timer0_W.timer.timer0
      div#game-status0_W.game-status
      div#name0_W.name.name0
        input#sit0_W.sit_button(type='button' value='Sit here!')
    div.board-div
      div#name1_W.name.name1
        input#sit1_W.sit_button(type='button' value='Sit here!')
      div#game-status1_W.game-status
      div#timer1_W.timer.timer1
      div#board1.board
      div#name1_B.name.name1
        input#sit1_B.sit_button(type='button' value='Sit here!')
      div#game-status1_B.game-status
      div#timer1_B.timer.timer1
    div.board-div
      div#chatbox
        div#chats
        label(for='chat') Chat:
        input#chat(name='chat' type='text' placeholder='Say hi!')
  div#username(style='display: none') #{user.username}
