<!DOCTYPE html>

<html>
  <head>
    <title>Bughouse!</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/index-client.js"></script>
  </head>
  <body>
    <a id="new-public-game" class="btn btn-primary">Join new game</a>
    <a id="new-private-game" class="btn btn-primary">Make private game</a>
    <br>
    <p>Previous games:</p>
    <div id="games"></div>
  </body>
</html>
