extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.min.js')
  script(src='/javascripts/home-client.js')

block content
  a#new-public-game.btn.btn-primary Play now!
  a#new-private-game.btn.btn-danger Create private game
  br
  br
  p New games:
  div#new-games
  p Running games:
  div#started-games
  p Finished games:
  div#finished-games
