<!DOCTYPE html>

<html>
  <head>
    <title>Bughouse!</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="http://nealwu.com:8000/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/raphael-min.js"></script>
    <script type="text/javascript" src="/javascripts/ChessValidator.js"></script>
    <script type="text/javascript" src="/javascripts/client.js"></script>
  </head>
  <body>
    <div id="boards">
      <div class="board_div">
        <div id="timer0_B" class="timer timer0"></div>
        <div id="name0_B" class="name name0">neal</div>
        <div id="board0" class="board"></div>
        <div id="timer0_W" class="timer timer0"></div>
        <div id="name0_W" class="name name0">toan</div>
      </div>
      <div class="board_div right_board">
        <div id="name1_W" class="name name1">pragya</div>
        <div id="timer1_W" class="timer timer1"></div>
        <div id="board1" class="board"></div>
        <div id="name1_B" class="name name1">paul</div>
        <div id="timer1_B" class="timer timer1"></div>
      </div>
    </div>
  </body>
</html>
