doctype html

html
  head
    title Bug Chess!
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/all.css')
    link(rel='stylesheet', href='/stylesheets/board-style.css')
    block scripts

  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='/')
            img(height='20px' src='/images/logos/bugchess.png')
        div
          ul.nav.navbar-nav
            if user
              li.active
                a(href='/') Home
              li
                a(href='/account') Account
              li
                a(href='/logout') Log Out
            else
              li
                a(href='/login') Log In
              li
                a(href='/register') Register

    block content
