<%- include layout.ejs %>

<% if (message) { %>
<p><%= message %></p>
<% } %>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
    </table>
    <div>
        <input type="submit" value="Login"/>
    </div>
</form>
