<%- include layout.ejs %>

<form action="/register" method="post">
  <table id="registration">
    <tr>
      <td><label>Email:</label></td>
      <td><input type="text" name="email"/><br/></td>
    </tr>
    <tr>
      <td><label>Username:</label></td>
      <td><input type="text" name="username"/><br/></td>
    </tr>
    <tr>
      <td><label>Password:</label></td>
      <td><input type="password" name="password"/></td>
    </tr>
  </table>
  <div>
    <input type="submit" value="Register"/>
  </div>
</form>
