input[type=button] {
  font-size: 18pt;
}

.game-status {
  color: red;
  font-weight: bold;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 24pt;
}

.board-div {
  display: inline-block;
  position: relative;
  margin-right: 15px;
  vertical-align: top;
}

.timer {
  font-weight: bold;
  font-size: 24pt;
}

.timer0, .name1 {
  float: left;
}

.timer1, .name0 {
  float: right;
}

#chatbox {
  padding: 5px;
  width: 288px;
  border: 1px solid black;
  word-wrap: break-word;
}

#chatbox input {
  width: 220px;
}

#new-private-game {
  margin-left: 15px;
}
