#boards {
  text-align: center;
}

.board_div {
  display: inline-block;
  position: relative;
  top: -10px;
}

.right_board {
  margin-top: 25px;
  margin-left: 50px;
}

.timer, .name {
  font-family: Helvetica, Arial, Sans-Serif;
}

.timer {
  font-weight: bold;
}

.timer0, .name1 {
  float: left;
}

.timer1, .name0 {
  float: right;
}

.right_stuff {
  float: right;
  padding-right: 30px;
}

#chatbox {
  padding: 10px;
  border: 1px solid black;
}
