#boards {
  text-align: center;
}

.board_div {
  display: inline-block;
  position: relative;
  padding: 10px;
}

.timer {
  font-weight: bold;
}

.timer0, .name1 {
  float: left;
}

.timer1, .name0 {
  float: right;
}

#chatbox {
  padding: 5px;
  width: 288px;
  border: 1px solid black;
  word-wrap: break-word;
}

#chatbox input {
  width: 220px;
}
